/* setup default */
* {
  margin: 0;
  border: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
a:active {
  text-decoration: none;
}
body {
  font-family: "DINPro", "Helvetica Neue", sans-serif;
}
/* header */
.header {
  display: flex;
  justify-content: end;
  margin-top: 20px;
}
.header__developer {
  margin-right: 60px;
}
.header__developer:hover {
  cursor: pointer;
}
.header__support {
  margin-right: 45px;
}
.header__support:hover {
  cursor: pointer;
}
/* name app */
.name_app {
  margin-top: 10px;
  font-size: 128px;
  font-weight: 550;
}
/* content */
.content {
  margin-top: 100px;

  display: flex;
  justify-content: center;
}
.get_started {
  width: 150px;
  line-height: 60px;
  border-radius: 12px;
  background-color: bisque;
  text-align: center;
  cursor: pointer;
}
.get_started:hover {
  background-color: aqua;
}
/* .content__chart {
  width: 512px;
  height: 512px;
} */
